spring:
  r2dbc:
    url: r2dbc:h2:mem:///solve;DB_CLOSE_DELAY=-1;MODE=PostgreSQL;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    username: sa
    password:
    pool:
      initial-size: 5
      max-size: 20

  flyway:
    enabled: true
    url: jdbc:h2:mem:solve;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    user: sa
    password:
    locations: classpath:db/migration
    baseline-on-migrate: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    kr.solve: DEBUG

cors:
  allowed-origins: http://localhost:3000